<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout.html">

<body>

    <div layout:fragment="content">

        <div class="container">
            <h1>Icon Update</h1>
            <hr>


            <div class="container" id="contai">
                <div class="row">
                    <div class="col-md-6">
                        <form id="form-create" th:action="@{/icon/doUpdate}" th:object="${icon}" method="POST"
                            enctype="multipart/form-data">
                            <input type="text" th:field="*{id}" hidden="true">

                            <div class="form-group row">
                                <label for="inputFile" class="col-sm-4 col-form-label">URL</label>
                                <div class="col-sm-8">
                                    <input type="file" name="file" class="form-control" id="inputFile"
                                        accept="image/x-png,image/jpeg,image/jpg">
                                </div>
                            </div>

                            <input type="text" hidden="true" th:field="*{url}" class="form-control" id="inputPassword3">

                            <select hidden="true" th:field="*{isActive}" class="form-control ">
                                <option th:value="'active'" th:text="Active"></option>
                                <option th:value="'inactive'" th:text="InActive"></option>
                            </select>

                            <div class="form-group row" style="margin-bottom: 0 !important;">
                                <div class="col-sm-10" style="display: contents;">
                                    <button type="submit" class="btn" id="b-admin1">Update</button>
                                    <a href="#" data-th-href="@{/icon/show}"> <input style="background-color: #D25353;"
                                            type="button" value="Cancel" class="btn" id="b-admin1" /></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>