<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout.html">

<body>
    <div layout:fragment="content">

        <div class="container c-admin">
            <p class="h4">Levels List
                <a th:href="@{/report/level}" class="btn  btn-sm mb-3" id="b-admin"> File </a>
                <a th:href="@{/level/create}" class="btn  btn-sm mb-3" id="b-admin"> Add Level </a>
                <!-- <div th:switch="${status}"> -->
                <a th:if="${status=='active'}" th:href="@{/level/showDeleted}" class="btn  btn-sm mb-3" id="b-admin">
                    Inactive Levels </a>
                <a th:if="${status=='inactive'}" th:href="@{/level/show}" class="btn  btn-sm mb-3" id="b-admin"> Active
                    Levels </a>
                <!-- </div> -->
            <p>

            <table class="table main-table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Name</th>
                        <th scope="col">Required Level Score</th>
                        <th scope="col">Active</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="l,iterationStatus : ${levels}">
                        <th hidden="true" th:text="${l.id}"></th>
                        <th scope="col" th:text="${iterationStatus.count}"></th>
                        <td><img th:src="${l.icon}" onerror="this.src='/downloadFile/none.png'" width="50px"
                                height="50px"></td>

                        <td th:text="${l.name}"></td>
                        <td th:text="${l.requiredLevelScore}"></td>
                        <td th:switch="${l.isActive.toString()}">
                            <p class="text-success" th:case="'active'"><i class="fas fa-check"></i></p>
                            <p class="text-danger" th:case="*"><i class="fas fa-times"></i></p>
                        </td>

                        <td th:switch="${l.isActive.toString()}">
                            <a th:href="@{/level/update/{id}(id=${l.id})}" class="btn  btn-sm mb-3"
                                id="b-admin1">Update</a>
                            <a th:case="'active'" th:href="@{/level/delete/{id}(id=${l.id})}" class="btn  btn-sm mb-3"
                                id="b-admin2" title="Disable"><i class="fas fa-times"></i></a>
                            <a th:case="'inactive'" th:href="@{/level/enable/{id}(id=${l.id})}" class="btn  btn-sm mb-3"
                                id="b-admin1" title="Enable"><i class="fas fa-check"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>