<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/layout.html">

<body>

    <div layout:fragment="content">
        <div class="container">
            <h1>Users Update</h1>
            <hr>


            <div class="container" id="contai">
                <div class="row">
                    <div class="col-md-6">
                        <form id="form-create" th:action="@{/user/doUpdate}" th:object="${user}" method="POST"
                            enctype="multipart/form-data">
                            <input type="text" th:field="*{id}" hidden="true">
                            <div class="form-group row">
                                <label for="updateUsername" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly th:field="*{username}" id="username"
                                        class="form-control" />
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                    class="alert alert-danger"></p>
                                </div>
                            </div>

                            <input type="text" hidden="true" th:field="*{password}" id="username"
                                class="form-control" />

                            <div class="form-group row">
                                <label for="updateFullname" class="col-sm-4 col-form-label">FullName</label>
                                <div class="col-sm-8">
                                    <input type="text" th:field="*{fullName}" class="form-control" id="inputEmail3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="updateEmail" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" th:field="*{email}" class="form-control" id="inputPassword3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="updateGender" class="col-sm-4 col-form-label">Gender</label>
                                <div class="col-sm-8">
                                    <select th:field="*{gender}" class="form-control ">
                                        <option th:value="'male'" th:text="Male"></option>
                                        <option th:value="'female'" th:text="Female"></option>
                                    </select>
                                </div>
                            </div>

                            <input type="text" hidden="true" th:field="*{photo}" class="form-control" id="inputPassword3">

                            <div class="form-group row">
                                <label for="updatePhoto" class="col-sm-4 col-form-label">Photo</label>
                                <div class="col-sm-8">
                                    <input type="file" name="file" class="form-control" id="inputFile"
                                        accept="image/x-png,image/jpeg,image/jpg">
                                </div>
                            </div>

                            <select hidden="true" th:field="*{isActive}" class="form-control">
                                <option th:value="'active'" th:text="Active"></option>
                                <option th:value="'inactive'" th:text="Inactive"></option>
                            </select>
                            
                            <div class="form-group row" style="margin-bottom: 0 !important;">
                                <div class="col-sm-10" style="display: contents;">
                                    <button type="submit" class="btn" id="b-admin1">Update</button>
                                    <a href="#" data-th-href="@{/user}"> <input style="background-color: #D25353;"
                                            type="button" value="Cancel" class="btn" id="b-admin1" /></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>